/*
=====================================
STYLESHEET FOR GALLERY
Ripped and modified from http://benschwarz.github.io/gallery-css/
This css file is the same for both mobile and desktop
At this point, the gallery does not work very well on high-resolution android devices, with resolutions of 1080x1920 or higher)
=====================================
*/

.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  top: 0px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  width: 90vw;
  height: 900px;/*Setting pixels above this as a fallback for older browsers*/
  height:100vh; /*100 vh is the exact size of the browser window, not the entire page. It's new in html5, so it may not work on all browsers*/
}

/*Taglines*/
.gallery figure h1 {
font-family: Helvetica;
  font-size: 2.4vmax;
opacity: 0.7;
color: white;
text-align: center;
width: 100vw;
z-index:0; /*Keeps it on top*/
position: absolute;
top: 800px;/*Again, pixels for older browsers*/
top: 85vh; /*Positions it near the bottom*/
pointer-events: none; /*Lets you click through to the buttons on lower resolutions*/
}

}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
  background-position: center center;
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}


/*These are just the images*/
/*I set the attachment as fixed to get that cool scrolling look*/
/*Images are set to center vertically and horizontally, which can mess up some pictures that should have resizing*/
#carousel1 {
background-image: url(https://cloud.githubusercontent.com/assets/7114499/7318682/8d83625a-ea5c-11e4-8862-7f5a6735b005.png); 
/* ORGINAL PATH ../img/pawculus1.png , REPEAT THIS CHANGING LAST NUMBER FOR EACH TO RESET*/
background-position: center center;
background-attachment: fixed;
 background-repeat: no-repeat;
}

#carousel2 {
  background-image: url(https://cloud.githubusercontent.com/assets/7114499/7334574/7f7a3aee-eb65-11e4-81e7-37fb7f60ad5b.png);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#carousel3 {
  background-image: url(https://cloud.githubusercontent.com/assets/7114499/7334577/ac2bf3d4-eb65-11e4-8425-90186b67d077.jpg);
  background-position: center center;
  background-attachment: fixed;
   background-repeat: no-repeat;
}
#carousel4 {
  background-image: url(https://cloud.githubusercontent.com/assets/7114499/7334592/10c5f9ca-eb66-11e4-89a3-b5129484c524.jpg);
  background-position: center center;
  background-attachment: fixed;
   background-repeat: no-repeat;
}
